.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: #ff3860;
}

a {
  color: #ff3860;
}

#nprogress .spinner-icon {
  border-top-color: white;
  border-left-color: white;
}

#nprogress .bar {
  background: white;
}

.hero.is-danger a.nav-item {
  color: rgba(255, 255, 255, 0.9);
  background-color: #ff3860;
}

.nav-item a.is-tab, a.nav-item.is-tab {
  color: rgba(255, 255, 255, 0.9);
  background-color: #ff3860;
}

.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.9);
  background-color: #ff3860;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background-color: #ff3860;
}

.nav .nav-toggle:hover {
  background-color: #ff3860;
}

.nav .nav-toggle span {
  background-color: white;
}

.hero .title {
  z-index: 9999;
}
